body {
  margin: 0;
  font-family: Arial;
  background: #f1f5f9;
}

header {
  text-align: center;
  background: #1e293b;
  color: white;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  background: #334155;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

.main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.big img {
  width: 100%;
  border-radius: 10px;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mini {
  display: flex;
  gap: 10px;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #1e293b;
  color: white;
}
